<div class="container-fluid">
<div class="row">
	<div class="col-md-12 col-offset-2">
	<div class="profilehtag">	

		<div class="row">

<div class="col-sm-12 col-md-offset-4 col-sm-offset-3">
<div id="success" class="alert alert-success" {{# if noMessages}} hidden {{/if}} >

<h2>{{ successMsg }}</h2>

<h3> Order details is mailed to you on your registered Email Id.</h3>


</div>
</div>


</div>
</div>