<script type = "text/javascript" >

   function preventBack(){window.history.forward();}

    setTimeout("preventBack()", 0);

    window.onunload=function(){null};

</script>

<div class="user-form">


<div class="row">
	<div class="col-md-4 col-md-offset-6 center ">
		 <div class="card " >
    	<div class="card-body ">
    	<h3 class="card-title text-center">Sign in</h3>
		
		
			{{#if hasErrors }}
			<div class="alert alert-danger">
			{{# each messages }}
			<p>{{ this }}</p>
			{{/each}}
			</div>
			{{/if}}
			
			<form  class="forma" action="/users/signin" method="POST">
					<div class="form-group">
						<label for="email"> Email </label>
						<input type="email" id="email" name="email"  class="form-control" required>
					</div>
					<div class="form-group">
						<label for="password"> Password </label>
						<input type="password" id="password" name="password" class="form-control" required>
					</div>

					
					
					<input type="hidden" name="_csrf" value="{{ csrfToken }}">
					<input type="submit"  name="Submit" class="btn btn-primary" value="Signin">

					<div class="form-group ">
					<a href="/users/forgot/" class="pull-right forgot">Forgot Password?</a>
					</div>

					<div>
					<p> Don't have an account? <a href="/users/signup">Signup </a>here</p>
					
					</div>
			</form>


		</div>
</div>
</div>
</div>
</div>