<div class="product-page">
	<div class="benefit">
		<div class="container">

<div class="row send">
<div class="col-md-12 col-md-offset-12 ">
{{# if success }}
<h6 class="text-center">{{ success }}</h6>

{{/if}}

</div>
</div>


			<div class="row benefit_row1">
				<div class="col-lg-6 benefit_col1">
				<a href="/users/user-profile/">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-user-circle" aria-hidden="true"></i></div>
						<div class="benefit_content1 ">
							<h6 class="text-center">Profile</h6>
							
						</div>
					</div>	
					</a>
				</div>
				<div class="col-lg-6 benefit_col1">
				<a href="/users/orders/">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
						<div class="benefit_content1">
							<h6>Your Orders</h6>
							
						</div>
					</div>
					</a>
				</div>

</div>

		<div class="row benefit_row1">
		<a href="/users/change-password/">
				<div class="col-lg-6 benefit_col1">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-address-book" aria-hidden="true"></i></div>
						<div class="benefit_content1">
							<h6>Change Password</h6>
						
						</div>
					</div>
					</a>
				</div>
				<div class="col-lg-6 benefit_col1">
					<a href="/users/cancelled-orders">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-ban" aria-hidden="true"></i></div>
						<div class="benefit_content1">
							<h6>Canceled Orders</h6>
					
						</div>
					</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>